<!DOCTYPE html>

<html>

<head> <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    {{>header}}
    {{!-- <h1>{{title}}</h1>--}}{{!-- {{}}- used to access the properties defined
    in an object in the app2.js file --}}
    {{!-- <p>Created by {{name}}</p> --}}
    <h1>{{errorMsg}}</h1>
{{>footer}}


</body>

</html>