<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/image/weather.jpeg">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
      <div class="main-content">
    {{>header}}
    <p>This site was created by Jahanvi Khakhar.It uses data from mapbox and weather stack api</p>
    {{!-- <h1>{{title}}</h1> --}}
    <img class="portrait" src="/image/image.jpeg">
    {{!-- <p>Created By: {{name}}</p> --}}
    </div>
    {{>footer}}
</body>

</html>

