<!DOCTYPE html>

<html>

<head> 
    <title>Help</title>
    <link rel="icon" href="/image/weather.jpeg">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
    {{>header}}{{!--to include this we write nodemon src/app.js -e js,hbs where -e is extention --}}
    {{!-- <h1>{{title}}</h1> --}}
    {{!-- <p>Created by: {{name}}</p> --}}
    </div>
    {{>footer}}
</body>

</html>